.visit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    margin-top: 10px;
    border: 1px solid green;
     background: linear-gradient(to bottom, #E6FFE6, #FFFFFF);
     border: none;
}
.visit h2{
    color: green;
    font-weight: 600;
    font-size: 30px;
}
.visit p{
    text-align: center;
    font-weight: 500;

}
.location-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;       /* icon size */
  color: red;            /* red icon */
  margin-top: 10px;
  position: relative;
  top: -10px;            /* moved more upwards */
  text-decoration: none;
  transition: transform 0.2s;
}

.location-icon:hover {
  transform: scale(1.2); /* subtle hover pop */
}
