.call-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: linear-gradient(to bottom, #e6ffe64e, #FFFFFF);
}

.call-icon {
  font-size: 28px;
  color: #0a9d3b;
  cursor: pointer;
}

.call-icon:hover {
  color: #067a2c;
}

.call-text {
  font-size: 16px;
}
